@page "/herramientas"

<PageTitle>Herramientas</PageTitle>

<h3>Herramientas</h3>

<div>
    <label>Hola</label>
</div>

<div>
    <input type="text" />
</div>

<div>
    <img src="/vegito.webp" alt="Vegito" />
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Saul</td>
                <td>Rodriguez</td>
                <td>21</td>
            </tr>
            <tr>
                <td>Michelle</td>
                <td>Cano</td>
                <td>21</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button>Enviar</button>
</div>